<%- include ("partials/header"); -%>
<h1>Compose</h1>

<form action="/compose" method="post">

  <div class="form-group">
    <label for="title"><h2>Title</h2></label>
    <input type="text" class="form-control" id="title" name="title" autocomplete="off">
    <label for="post">Post</label>
    <textarea name="content" class="form-control" rows="8" cols="80"></textarea>
    <button style="margin-top:20px;" type="submit" class="btn btn-success" name="button">Publish</button>
  </div>

</form>





<%- include ("partials/footer"); -%>
